[submodule "VST3_SDK/base"]
	path = VST3_SDK/base
	url = git@github.com:perivar/vst3_base.git	
[submodule "VST3_SDK/cmake"]
	path = VST3_SDK/cmake
	url = git@github.com:perivar/vst3_cmake.git
[submodule "VST3_SDK/doc"]
	path = VST3_SDK/doc
	url = git@github.com:perivar/vst3_doc.git
[submodule "VST3_SDK/pluginterfaces"]
	path = VST3_SDK/pluginterfaces
	url = git@github.com:perivar/vst3_pluginterfaces.git
[submodule "VST3_SDK/public.sdk"]
	path = VST3_SDK/public.sdk
	url = git@github.com:perivar/vst3_public_sdk.git
[submodule "VST3_SDK/vstgui4"]
	path = VST3_SDK/vstgui4
	url = git@github.com:perivar/vstgui.git
	branch = develop
